nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* aligns links vertically */
  top: 0;
  left: 0;
  background-color: #e4e4e4;
}
.logo {
  max-height: 40px;
}
.leftnav {
  flex-grow: 1;
  align-items: center;
}
nav a {
  padding: 1em;
  text-decoration: none;
  color: black;
}
/** Call to Action section **/
.cta {
  background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
  color: white;
  padding: 5%;
}
.ctaBtn {
  background: #00897B;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  line-height: 30px;
}
.main-content {
  background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
}
.left-content img {
  max-width: 70%;
}
.about-tabs {
  display: flex;
  margin: auto;
  justify-content: center;
}
.tabs {
  width: 80%;
  text-align: center;
  border: 1px solid black;
}
.tabs .tabs-items {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin: auto;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #931d25;
  border-right: 1px solid black;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
  width: 25%;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-bottom: none;
  background-color: #ffffff;
  color: black;
}
