/*
   CSS default reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/******************** Global CSS ***************/


* {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 80%;
    /* TB LR */
    margin: 0 auto;
}git branch



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.75rem;
}

h3 {
    font-size: 1.7rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.4rem;
    line-height: 1.4;
}

h5 {
    font-size: 1.75rem;

}

h6 {
    font-style: italic;
}

p {
    font-size: 1rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

/******************* Navigation ******************/


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #e4e4e4;
}

.logo {
    max-height: 40px;
    margin-left: 2rem;
}

.leftnav {
    flex-grow: 1;
    align-items: center;
    align-content: center;
}

nav a {
    padding: 1em;
    text-decoration: none;
    color: #565656;
    border: none;
}

nav a:hover {
    background: #B8DEDA;
    color: white;
}

nav.mobile {
    display: none;
}

/**************** Tablet Navigation ************/
@media (max-width: 800px) {
    .wrapper {
        width:100%;
    }

    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: flex;
    }

    nav.mobile a:last-child {
        padding-right: 3rem;
    }
}

/*************** Mobile Navigation ***************/
@media (max-width: 600px) {
    .wrapper {
        width:100%;
    }
}

/************* Call to Action section **************/


.cta {
    background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
    color: white;
    padding: 10%;
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
}

.button {
    background: #00897B;
    border: 2px solid #00897B;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background: #f4f4f4;
    box-sizing: border-box;
    color: #565656;

}

.form-btn {
    font-size: 1rem;
    float: right;
    padding: .2rem;
}

.fas.fa-eye {
    float: right;
}

.cta .button {
    width: 25%;
}

.button.form-btn {
    width: 33%;
}

@media (max-width: 800px) {
    .cta .button {
        width: 33%;
    }
}



.aboutBtn.fab.fa-github:hover {
    background: #f4f4f4;
    border: 1px solid #00897B;
    box-sizing: border-box;
    border-radius: 10px;
    color: #565656;
}

input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.smaller {
    font-size: 8px;
    line-height: 9px;
}

.cta-img {
    width: 100%;
}

aside fieldset {
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    border-radius: 15px;
    padding: 1.5rem .5rem;
    margin-top: 2rem;
    color: #565656;
    align-items: start;
}



.form-group, .smaller {
    line-height: 1.4;
}


@media (max-width: 500px) {
    .wrapper {
        width: 500px;
    }

    .cta-img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    fieldset {
        display: none;
    }


}


/******************* Tabs  ******************/


.about-tabs {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 5rem;
    border: 1px solid #C4C4C4;
}

.tabs {
    text-align: center;
    border: 1px solid #C4C4C4;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.tabs .tabs-item {
    display: none;
    font-size: 1.2rem;
    padding-bottom: 10px;

}

.tabs .tabs-item-selected {
    display: block;
}

.tabs .tabs-links {
    display: flex;
    justify-content: space-evenly;
    background: #D0D0D0;
    width: 100%;
}

.tabs .tabs-link {
    padding: 20px 25px;
    background: linear-gradient(to bottom, #f4f4f4 81%,#ffffff 100%);
    border-right: 1px solid #C4C4C4;;
    border-bottom: 1px solid #C4C4C4;;
    color: #565656;
    cursor: pointer;
    width: 25%;
}

.tabs-link:last-child {
    border-right: none;
}

.tabs .tabs-link-selected {
    z-index: 2;
    border-bottom: none;
    background: white;
}

.tabs-item-description {
    display: flex;
    margin: auto;
    padding: 4rem;
    align-items: center;
}

.tabs-item-description img {
    padding-right: 3rem;
}

.tabs-item-description p {
    width: 40%;
    font-size: 1rem;
    line-height: 2;
    text-align: left;
}


@media (max-width: 500px) {
    .tabs {
        width: 100%;
    }

    .about-tabs {
        padding: 0;
    }


    .tabs-link {
        text-align: center;
        background: white;
    }

    .tabs .tabs-links {
        width: 100%;
    }

    .tabs .tabs-item {
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .tabs-item-description {
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    .tabs-item-description img {
        height: 25%;
        padding: 0 1rem;
    }

    .tabs-item-description p {
        width: 90%;
        padding-top: 2rem;
    }

}


/*********** Testimonials *********/


.testimonials {
    background: linear-gradient(170deg, #B8DEDA 13.24%, rgba(184, 222, 218, 0) 67.59%);
    padding-bottom: 5rem;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 3rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.quote p {
    width: 40%;
    line-height: 1.4;
}

.quote.top-quote p {
    padding-left: 2rem;
}

.avatar {
    border-radius: 50%;
}

@media (max-width: 500px) {
    .top-quote {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .bottom-quote {
        padding: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .quote p {
        width: 80%;
        line-height: 1.4;
        padding: 1rem 1rem 0 0;
    }
}


/************ Features ************/


.features {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

}

.fblock {
    padding: .4rem;
    flex: 1;
    justify-content: center;
    display: flex;
    margin: auto;
}


.block {
    padding: 1.7rem 1rem;
    border: 1px solid #C4C4C4;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    height: 20rem;
}

.fblock p {
    padding-top: 1rem;

}


@media (max-width: 500px) {
    .block {
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    .fblock img {
        height: 80%;
    }


}


/************** About the Team **********/
.about {
    border: 1px solid #C4C4C4;
}


.headline {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    line-height: 4;
}

.team {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding: 2rem 2rem 0 2rem;
    line-height: 2;
    max-width: 70%;

}

.member {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);

    background: white;
}

.member img {
    max-width: 100%;
}

.member .text {
    padding: 0 1rem;

}

.aboutBtn.fab.fa-github {
    background: #00897B;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding: 0.2rem 0.5rem;
}


/*********************** Footer ******************/


footer {
    display: flex;
    padding-top: 5rem;
    border-top: 2px solid #B8DEDA;
    margin-top: 2rem;

}

.foot {
    display: block;
    flex-direction: column;
    margin: auto;
}

.footLeft {
    flex: 1;
}

.footCtr {
    text-align: center;
    flex: 1;
}

.footRight {
    text-align: right;
    flex: 1;
}

.foot.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fab {
    padding: 1rem;
    color: #231F20;
}

/********  Font awesome hover effects on fa.js *********/
.fab:hover {

}

ul .foot.social li image {
    text-decoration: none;


}

@media (max-width: 800px) {
    footer {
        display: block;
    }

    .footLeft, .footRight {
        display: none;
    }

    .footCtr {
        display: flex;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

