

/** Call to Action section **/

.cta {
	background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
	color: white;
    padding:  10%;
    display: flex;
    margin: auto;
    width: 80%;
}

.button {
  background: #00897B;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding-below: 2rem;
}

.form-btn {
  background: #00897B;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding-below: 2rem;
}

.cta .button {
width: 33%;
}

.form-btn {

}

.smaller {
    font-size: 8px;
    line-height: 9px;
}

.cta-img {
    width: 100%
}
/* larger screen */
@media screen and (min-width: 30rem) {



}
aside fieldset {
background: #FFFFFF;
border: 5px solid #C4C4C4;
border-radius: 15px;
padding: 4rem 2rem;
margin-top: 12rem;
color:black;
}




/*********** Testimonials Section *********/

.testimonials {
    background: linear-gradient(170deg, #B8DEDA 13.24%, rgba(184, 222, 218, 0) 67.59%);
}

.quote {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 5rem;
}

.quote p {
    width: 50%;
    line-height: 1.4;
    font-size: 24px;
}

.avatar {
border-radius: 50%;
}

 /************ Features Grid ************/
 .features {
 display: flex;
 margin: auto;
 justify content: space-between;

 }

 .fblock {
 border: 1px solid black;
 }








