/** gooney**/
/** Call to Action section **/
.cta {
    background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
    color: white;
    padding: 10%;
    display: flex;
    margin: auto;
    width: 80%;
}
.button {
    background: #00897B;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

}
.form-btn {
    background: #00897B;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding-below: 2rem;
}
.cta .button {
    width: 33%;
}
.smaller {
    font-size: 8px;
    line-height: 9px;
}
.cta-img {
    width: 100%;
}
/* larger screen */
aside fieldset {
    background: #FFFFFF;
    border: 5px solid #C4C4C4;
    border-radius: 15px;
    padding: 4rem 2rem;
    margin-top: 12rem;
    color: black;
}
/*********** Testimonials *********/
.testimonials {
    background: linear-gradient(170deg, #B8DEDA 13.24%, rgba(184, 222, 218, 0) 67.59%);
}
.quote {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 5rem;
    align-items: center;
}
.quote p {
    width: 40%;
    line-height: 1.4;
}

.quote.top-quote p {
    padding-left: 2rem;
}
.avatar {
    border-radius: 50%;
}
/************ Features ************/
.features {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 3rem;
}
.block {
    align-items: center;
    align-content: center;
    padding: 1.7rem;
    border: 1px solid black;
}
.fblock {
    padding: 1rem;
}