

/** Call to Action section **/

.cta {
	background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
	color: white;
    padding:  5%;
}

.cta-top h1 {

}

.ctaBtn {
	background: #00897B;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 24px;
	line-height: 30px;

}

.main-content {
	background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
}

.left-content img {
	max-width: 70%;
}

